@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

body {
    padding: 0;
    margin: "auto";
    font-family: 'Montserrat', sans-serif;
}
#title {
    color: black;
    font-weight: 600;
    font-size: 250%;
    width: 55%;
    margin: auto;
}
#score {
    color: black;
    font-weight: 600;
    font-size: 600%;
    width: 45%;
    margin: auto;
    margin-bottom: 10px;
}

#stack {
    width: 70%;
    margin: auto;
}

.stack-element {
    width: 80%;
    margin: auto;
    height: 40px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 25px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.15);
}

.stack-txt1 {
    font-weight: 300;
    font-size: 150%;
    color: #1E1E1E;
    justify-self: center; 
    float: left;
}   
.stack-txt2 {
    font-weight: 550;
    font-size: 150%;
    color: red;
    justify-self: center;
    float: right;
}

#container {
    margin: auto;
}